<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
  
	<bean id="employee" class="TelstraProj1.SampleMaven1.Employee">
		<property name="empId" value="10001"/>
		<property name="empName" value="Ram"/>
		<property name="salary" value="89000"/>
		<property name="address" ref="address" />
	</bean>
	

    

	<bean id="address" class="TelstraProj1.SampleMaven1.Address">
		<property name="streetNo" value="123"/>
		<property name="city" value="Bengaluru"/>
		<property name="pin" value="560001"/>
	</bean>
	

    
           
</beans>